*{
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat(5, 300px);
    gap: 5px;
    padding: 0 0 0 17%;
}

#bob{
    display: flex;
    position: relative;
    top: -345px;
    color: white;
    font-size: 4vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
	transition: all 300ms ease-out;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

div:hover #bob{
	transform: translateY(40px);
    opacity: 1;
}
